<style>
    .ui-state-highlight {
        height: 100px;
        background-color: #ccc !important;
    }

    .ui-sortable-helper {
        display: table !important;
        background-color: white;
    }

    div.editable-input input {
        direction: ltr;
        text-align: center;
    }

    .red {
        color: red !important;
    }

    .blue {
        color: blue !important;
    }

    .green {
        color: green !important;
    }
</style>

<link rel="stylesheet" href="../../../Content/js-persian-cal.css" />
<div ng-controller="costController">
    
    <div class="well">
        <ncy-breadcrumb></ncy-breadcrumb>
        <i popover="{{applicationDescription}}" popover-placement="right" class="fa fa-question-circle help"></i>
    </div>

    <edit-cost open="editItemModal" item="item" onsuccess="getEditedItem"></edit-cost>
    <edit-contact open="editContactModal" contact="contact" onsuccess="getEditedContact" class="ng-isolate-scope"></edit-contact>
    <div class="panel panel-info center-block hesabfa-panel" style="max-width: none;" id="panelEditInvoice" ng-show="!loading">
        <div class="panel-heading">
            <span class="panel-title" >صورت هزینه </span>
  
        </div>
        <div class="panel-body hesabfa-panel-body">
            <div class="row">
                <div class="col-sm-4" >
                    <div class="form-group">
                        <label for="costContact" class="title1" >طرف حساب</label>
                       <!-- <label for="costContact" class="title1 ng-hide" ng-show="cost.InvoiceType == 1 || cost.InvoiceType == 3">فروشنده</label>
                        <a class="title1 m-r-5 ng-binding blue ng-hide" ng-class="getContactBalanceClass(cost.Contact.Balance)" ng-show="cost.Contact.ID > 0" href="#contactCard/" target="_blank">
                            &nbsp;مانده: {{cost.Contact.Balance |digitGroup}} {{getContactTashkhis(cost.Contact.Balance)}}&nbsp;
                        </a>-->

                        <div id="comboContact">
                        </div>

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="costDate" class="title1 ng-binding">تاریخ </label>
                                <input date-picker="" display-numbers="" type="text" id="costDate" ng-model="cost.DisplayDate" class="pdate form-control input-sm ng-valid ng-pristine ng-not-empty ng-touched" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="تاریخ  " data-original-title="" title="" aria-describedby="popover216080">
                            </div>
                        </div>
             
                        <div class="col-sm-4" >
                            <div class="form-group">
                                <label for="costNumber" class="title1">شماره </label>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input display-numbers="" type="text" class="form-control input-sm ng-valid ng-valid-maxlength" id="costNumber" ng-model="cost.Number" maxlength="20"  disabled="disabled">
                                            </td>
                                     
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     

                    </div>

                </div>
            </div>
            <div class="row mr-b-20" >
                <div class="col-md-12">
                    <label class="title1 ng-binding">
                        شرح
                    </label>
                    <input display-numbers="" type="text" class="form-control input-sm ng-valid" ng-model="cost.Explain" style="width: 100%" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="شرح  نمایش داده می شود" data-original-title="" title="">
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr class="active" style="font-size: 9pt; font-weight: bold;">
                        <td>#</td>
                        <td>عنوان</td>
                        <td>مبلغ<span style="font-weight: normal" ng-bind="getCurrency(true)" class="ng-binding"></span></td>
                        <td>باقی مانده  <span style="font-weight: normal" ng-bind="getCurrency(true)" class="ng-binding"></span></td>
                        <td>شرح</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="costItem in cost.CostItems" style="height: 37px!important;" class="ng-scope">
                        <td style="width: 30px; padding: 0px; vertical-align: middle; text-align: center;" ng-mouseover="MoveBtns = true" ng-mouseleave="MoveBtns = false">
                            <span ng-show="!MoveBtns" class="ng-binding">{{$index+1}}</span>
                            <div ng-show="MoveBtns" style="font-size: 9pt; color: silver;" class="ng-hide">
                                <span class="fa fa-arrow-up move-up" aria-hidden="true" title="انتقال به بالا" ng-click="MoveBtns = false; moveUpRow(costItem)"></span>
                                <span class="fa fa-arrow-down move-down" aria-hidden="true" title="انتقال به پایین" ng-click="MoveBtns = false; moveDownRow(costItem)"></span>
                            </div>
                        </td>
                        <td style="min-width: 260px; padding: 0px;" class="invoice-td" id="tdItem{{$index}}" ng-click="moveRowEditor($index,$event)">

                            
                            <div ng-hide="costItem.RowNumber == actRow.RowNumber" class="invoice-td-div ng-binding ng-hide">{{costItem.Item.Name |number}}</div>
                        </td>
                        <!--<td style="min-width: 260px; padding: 0px;" class="invoice-td" id="tdTitle{{$index}}" ng-click="moveRowEditor($index,$event)">

                            <div ng-hide="costItem.RowNumber == actRow.RowNumber" class="invoice-td-div ng-binding ng-hide">{{costItem.Title |number}}</div>
                        </td>-->

                        <td  style="width: 120px; padding: 0px;" class="invoice-td" id="tdSum{{$index}}" ng-click="moveRowEditor($index,$event)">

                            <div ng-hide="costItem.RowNumber == actRow.RowNumber" class="invoice-td-div ng-binding ng-hide">{{costItem.Sum |digitGroup}}</div>
                        </td>
                        <td  style="width: 120px; padding: 0px;" class="invoice-td" id="tdRest{{$index}}" ng-click="moveRowEditor($index,$event)">

                            <div ng-hide="costItem.RowNumber == actRow.RowNumber" class="invoice-td-div ng-binding ng-hide">{{costItem.Rest |digitGroup}} </div>
                        </td>
                        <td style="min-width: 140px; padding: 0px;" class="invoice-td" id="tdDescription{{$index}}" ng-click="moveRowEditor($index,$event)">

                            <div ng-hide="costItem.RowNumber == actRow.RowNumber" class="invoice-td-div ng-binding">{{costItem.Description |number}}</div>
                        </td>
                        <td style="width: 20px; padding: 0px; vertical-align: middle; text-align: center;">
                            <span class="fa fa-remove fa-fw close-grid-row" aria-hidden="true" ng-click="deleteRow(costItem)"></span>
                        </td>
                    </tr>



                </tbody>
            </table>
            <div id="hideme" style="display: none;">
                <div id="comboItem">
                </div>
                <!--<input display-numbers="" type="text" id="inputTitle" class="input-grid-factor input-sm" ng-model="actRow.Title" data-toggle="popover" data-trigger="hover focus" data-placement="top" data-content="عنوان هزینه...">-->
                <div>
                    <input display-numbers="" decimal-point-zero="" keyboard-filter="integer" digit-group="" type="text" id="inputSum" class="input-grid-factor input-sm" ng-model="actRow.Sum"  ng-blur="calculateCost('sum')">
                </div>
                <div>
                    <input display-numbers="" decimal-point-zero="" keyboard-filter="integer" digit-group="" type="text" id="inputRest" class="input-grid-factor input-sm" ng-model="actRow.Rest" ng-blur="calculateCost('rest')" >
                </div>
                <div>
                    <input display-numbers="" type="text" id="inputDescription" class="input-grid-factor input-sm" ng-model="actRow.Description" data-toggle="popover" data-trigger="hover focus" data-placement="top" data-content="شرح هزینه...">
                </div>
            </div>

            <div class="row" style="padding-left: 15px;">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" ng-click="addRow()" onclick="return false;" class="btn btn-default btn-sm">
                                                    <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;
                                                    افزودن سطر
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="" ng-click="addRow(5)">افزودن ۵ سطر</a></li>
                                                    <li><a href="" ng-click="addRow(10)">افزودن ۱۰ سطر</a></li>
                                                    <li><a href="" ng-click="addRow(20)">افزودن ۲۰ سطر</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                       
        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
              
                  
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="row text-left">
                        <div class="col-xs-5 title1">جمع <span style="font-weight: normal" class="ng-binding">(ریال)</span></div>
                        <div class="col-xs-7 title1 ng-binding">{{cost.Sum |digitGroup}}</div>
                    </div>
                    <div class="row text-left ng-hide" ng-show="totalPay > 0">
                        <div class="col-xs-5 title1">جمع پرداختی <span style="font-weight: normal" class="ng-binding">(ریال)</span></div>
                        <div class="col-xs-7 title1 red ng-binding">{{totalPay |digitGroup}}</div>
                    </div>
     
                    <div class="row" style="border-top: 1px solid rgb(69, 69, 69); margin-top: 1px; margin-bottom: 1px;"></div>
                    <div class="row text-left" style="border-bottom: 1px solid rgb(69, 69, 69)">
                        <div class="col-xs-5 h5 txt-bold">مبلغ مانده <span style="font-weight: normal" class="ng-binding">(ریال)</span></div>
                        <div class="col-xs-7 h5 txt-bold ng-binding" ng-class="{'red' : cost.Rest < 0}">{{cost.Rest |digitGroup}}</div>
                    </div>
                    <div class="row" style="border-top: 1px solid rgb(69, 69, 69); margin-top: 1px; margin-bottom: 10px;"></div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6 text-right" ng-show="!calling">
                    <div class="btn-group col-md-6" ng-show=" cost.Status < 2">
                        <button type="button" class="btn btn-primary" ng-click="saveCost('saveAndSubmitForApproval')" onclick="return false;" style="width: 160px;">ذخیره و ارسال جهت تایید</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="saveCost('save')">ذخیره موقت</a></li>
                            <li><a href="" ng-click="saveCost('saveAndContinueEdit')">ذخیره موقت و ادامه ویرایش</a></li>
                            <li><a href="" ng-click="saveCost('saveAndNext')">ذخیره و ثبت هزینه بعدی</a></li>
                            <li><a href="" ng-click="saveCost('saveAndSubmitForApproval')">ذخیره و ارسال جهت تایید</a></li>
                        </ul>
                    </div>

         

                </div>
                <!--<div class="col-sm-6 text-left" ng-show="!calling">
                    <div class="btn-group col-md-4 col-md-push-7">
                        <button type="button" class="btn btn-success" ng-click="saveCost('approve')" onclick="return false;" style="width: 100px;">تایید</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="saveCost('approve')">تایید</a></li>
                            <li><a href="" ng-click="saveCost('approveAndNext')">تایید و ثبت هزینه بعدی</a></li>
                            <li><a href="" ng-click="saveCost('approveAndPrint')">تایید و چاپ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-md-push-6">
                        <button type="button" ng-click="cancel()" class="btn btn-default btn-smoke" style="width: 80px;">انصراف</button>
                    </div>
                </div>-->
                <div class="col-sm-12 text-center ng-hide" ng-show="calling">
                    <span><img src="../../../Content/img/ajax-loader4.gif"></span>
                </div>
            </div>
        </div>
    </div>



</div>