<div class="alert alert-danger center-block text-right hesabfa-txt-10 ng-scope ng-hide" role="alert" style="max-width: 600px;" id="error" ng-show="alertBoxVisible">
    <div class="row">
        <div class="col-xs-1" style="margin-top: -2px;">
            <span class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
        </div>
        <div class="col-xs-11" style="margin-top: 1px;">
            <strong class="ng-binding"></strong>
        </div>
    </div>
</div>