    <!-- #footer-wrapper start -->
<div id="footer-wrapper" class="clearfix">

    <!-- #footer -->
    <footer id="footer" class="container_12">

        <!-- .footer-widget-container start -->
        <ul class="footer-widget-container grid_3">

            <!-- .widget.widget_text start -->
            <li class="widget widget_text">

                <section class="carousel-article">
                    <img src="../../Content/img/red/logo-footer.png" alt="logo" />

                    <br /><br />

                    <ul id="foo1" class="carousel-li">
                        <li>
                            <p>


                                زمینه اصلی فناوری اطلاعات ژیور در زمینه طراحی و برنامه نویسی سایت می باشد.
                            </p>
                        </li>

                        <li>
                            <p>


                                زمینه اصلی فناوری اطلاعات ژیور در زمینه طراحی و برنامه نویسی سایت می باشد.
                            </p>
                        </li>

                        <li>
                            <p>


                                زمینه اصلی فناوری اطلاعات ژیور در زمینه طراحی و برنامه نویسی سایت می باشد.
                            </p>
                        </li>
                    </ul>

                    <div class="clearfix"></div>

                    <div class="carousel-pagination" id="foo1_pag"></div>
                </section>

            </li><!-- .widget.widget_text end -->
        </ul><!-- .footer-widget-container end -->
        <!-- .footer-widget-container start -->
        <ul class="footer-widget-container grid_3">
            <!-- .widget pi_recent_posts start -->
            <li class="widget pi_recent_posts">
                <div class="title">
                    <h5>آخرین پست ها</h5>
                </div>

                <ul class="footer-blog">
                    <li>
                        <div class="meta">
                            <a class="icon-edit"></a>
                        </div>

                        <div class="post">
                            <a href="blog-single.html"> اخبار هسته ای </a>
                            <p class="info">26 مهر 97 <a href="blog-single.html">0 نظر</a></p>
                        </div>
                    </li>

                    <li>
                        <div class="meta">
                            <a class="icon-link"></a>
                        </div>

                        <div class="post">
                            <a href="blog-single.html">اخبار هسته ای  </a>
                            <p class="info">26 مهر 97 <a href="blog-single.html">2 نظر</a></p>
                        </div>
                    </li>

                    <li>
                        <div class="meta">
                            <a class="icon-camera"></a>
                        </div>

                        <div class="post">
                            <a href="blog-single.html">اخبار هسته ای </a>
                            <p class="info">26 مهر 97 <a href="blog-single.html">2نظر</a></p>
                        </div>
                    </li>
                </ul>


            </li><!-- .widget pi_recent_posts end -->
        </ul><!-- .footer-widget-container end -->
        <!-- .footer-widget-container start -->
        <ul class="footer-widget-container grid_3">

            <!-- .widget.widget_text start -->
            <li class="widget widget_text">
                <div class="title">
                    <h5>گرفتن توضیحات </h5>
                </div>
                <p>
                    اگر شما سوالی از ما دارید
                </p>

                <br />

                <ul class="contact-info">
                    <li class='address'>
                        <p>ادرس: میدان آزادی </p>
                    </li>

                    <li class="phone">
                        <p>تلفن : 33664444-087 </p>
                    </li>

                    <li class="mail">
                        <p>ایمیل: <a href=''>info@Smbt.ir</a></p>
                    </li>
                </ul>
            </li><!-- .widget.widget_text end -->
        </ul><!-- .footer-widget-container end -->
        <!-- .footer-widget-container start -->
        <ul class="footer-widget-container grid_3">

            <!-- .widget.widget_text start -->
            <li class="widget widget_text">
                <div class="title">
                    <h5>جدیدترین اخبار</h5>
                </div>

                <p>
                    برنامه نویس امید محمدی
                    انجام انواع پروژه های تحت وب ، ویندوز، اندروید

                </p>

                <br />

                <form class="newsletter">
                    <input type="email" class="email" placeholder="آدرس ایمیل خود را وارد کنید...">
                    <input type="submit" class="submit" value="ارسال">
                </form>
            </li><!-- .widget.widget_text end -->

        </ul><!-- footer-widget-container end -->
    </footer><!-- #footer end -->
    <!-- .container_12.copyright-container start -->
    <div class="container_12 copyright-container">

        <!-- .grid_12 start -->
        <div class="grid_12">

            <div class="grid_6 alpha">
                <p>
                    برنامه نویس امید محمدی
                    انجام انواع پروژه های تحت وب ، ویندوز، اندروید

                </p>
            </div>

            <div class="grid_6 omega">
                <ul class="footer-breadcrumbs">
                    <li>
                        <a href="index-2.html">صفحه اصلی</a>
                    </li>

                    <li>
                        <a href="about.html">درباره ما </a>
                    </li>

                    <li>
                        <a href="portfolio1.html">پرو فایل</a>
                    </li>

                    <li>
                        <a href="blog.html">محصولات </a>
                    </li>

                    <li>
                        <a href="contact.html">ارتباط با ما </a>
                    </li>
                </ul>
            </div><!-- .grid_6 omega end -->
        </div><!-- .grid_12 end -->
    </div><!-- .container_12.copyright-container end -->
</div><!-- #footer-wrapper end -->
