<div class="modal fade" modal-confirm role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span ng-bind="modalTitle"></span>
            </div>
            <div class="modal-body">
                <p ng-bind-html="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success k-window-button" id="confirm">بلی</button>
                <button type="button" class="btn btn-danger buttonClose" id="reject">خیر</button>
            </div>
        </div>
    </div>
</div>