<div ng-controller="changePasswordController" id="changePasswordWrapper">
    <div class="well">
        <ncy-breadcrumb></ncy-breadcrumb>
        <i uib-popover="{{applicationDescription}}" popover-trigger="'mouseenter'" popover-placement="right" class="fa fa-question-circle help"></i>
    </div>
    <form name="changePassword" class="form-horizontal" action="#">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 site-panel">
                <div class="form-group">
                    <label class="col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-0 control-label user-note">
                        تذکر: رمز عبور می بایست ترکیبی از حروف و اعداد باشد.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">رمز عبور فعلی:</label>
                    <div class="col-xs-8">
                        <input type="password" text-required='رمز عبور فعلی اجباریست' name="currentPassword" ng-model="model.currentPassword" class="form-control" tabindex="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">رمز عبور جدید:</label>
                    <div class="col-xs-8">
                        <input type="password" text-required='رمز عبور جدید اجباریست' name="newPassword" text-numeric-char ng-model="model.newPassword" class="form-control" tabindex="2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">تأیید رمز جدید:</label>
                    <div class="col-xs-8">
                        <input type="password" text-required='تأیید رمز عبور جدید اجباریست' name="confirmPassword" ng-model="model.confirmPassword" class="form-control" tabindex="3">
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                    <div class="button-wrapper">
                        <button-validation mode="normal" class-style="btn btn-success" click="edit(model)" tabindex="4">ثبت</button-validation>
                        <button class="btn btn-danger" ng-click="redirect()" type="button" tabindex="5">انصراف</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
