          <!-- Small boxes (Stat box) -->
<div ng-controller="financialListController">
    
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h4> چک های دریافتی</h4>
                    <p>لیست چک ها دریافتی</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer" ng-click="redirectToCheques('receivables')">نمایش <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h4>چک های پرداختی</h4>
                    <p>لیست چک های پرداختی </p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer" ng-click="redirectToCheques('payables')">نمایش <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <!-- ./col -->
        
      
    </div>
</div>