<div ng-controller="receiveController">
    <div class="well">
        <ncy-breadcrumb></ncy-breadcrumb>
        <i popover="{{applicationDescription}}" popover-placement="right" class="fa fa-question-circle help"></i>
    </div>
    <!--<alert message="alertMessage" messages="alertMessages" alert-type="alertType" ng-show="alert" class="ng-isolate-scope ng-hide">
    </alert>-->
    <edit-cash open="editCashModal" cash="cash" onsuccess="getEditedCash" class="ng-isolate-scope"></edit-cash>
    <edit-bank open="editBankModal" bank="bank" onsuccess="getEditedBank" class="ng-isolate-scope"></edit-bank>
    <edit-contact open="editContactModal" contact="contact" onsuccess="getEditedContact" class="ng-isolate-scope"></edit-contact>
    

    <div class="row hesabfa-content-page center-block" ng-show="!loading">

        <div class="panel panel-info center-block hesabfa-panel" style="max-width: none;">
            <div class="panel-body hesabfa-panel-body">

                <div class="text-info text-left txt-bold ng-binding ng-hide" style="padding-left: 10px; padding-bottom: 5px;" ng-show="rp.Number">
                    شماره رسید: {{rp.Number | number}}
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left">
                        <label>دریافت وجه / چک</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-group" role="group" aria-label="...">
                            <button ng-show="true" type="button" class="btn btn-default btn-sm" ng-class="Receive == 'contact' ? 'btn-primary' : 'btn-default'" ng-click="changeReceive('contact')" ng-disabled="rp.Invoice">از شخص</button>
                            <button ng-show="true" type="button" class="btn btn-default btn-sm" ng-class="Receive == 'income' ? 'btn-primary' : 'btn-default'" ng-click="changeReceive('income')" ng-disabled="rp.Invoice">بابت درآمد</button>
                            <button ng-show="true" type="button" class="btn btn-default btn-sm" ng-class="Receive == 'other' ? 'btn-primary' : 'btn-default'" ng-click="changeReceive('other')" ng-disabled="rp.Invoice">سایر</button>
                        </div>
                    </div>
                    <div class="col-sm-2 text-left">
                        <label ng-show="Receive == 'contact'" class="ng-hide">شخص:</label>
                        <label ng-show="hasCheque &amp;&amp; Receive != 'contact'" class="ng-hide">دریافت چک از:</label>
                    </div>
                    <div class="col-sm-4" ng-hide="rp.Invoice || disableContact">
                        <div ng-show="Receive == 'contact' || hasCheque" id="comboContactSelect" class="ng-hide">

                        </div>
                    </div>
                    <div class="col-sm-4 ng-binding ng-hide" ng-show="rp.Invoice || disableContact">

                    </div>
                </div>

                <div class="row mr-t-5 ng-hide" ng-show="Receive == 'income' || Receive == 'other'">
                    <div class="col-sm-2 text-left">
                        <label ng-show="Receive == 'income'" class="ng-hide">درآمد:</label>
                        <label ng-show="Receive == 'other'" class="ng-hide">حساب:</label>
                    </div>
                    <div class="col-sm-4">
                        <div id="comboAccountSelect">

                        </div>
                    </div>
                    <div class="col-sm-2 text-left">
                        <label ng-show="Receive == 'income'" class="ng-hide">ریز درآمد(دلخواه):</label>
                        <label ng-show="Receive == 'other'" class="ng-hide">تفصیلی:</label>
                    </div>
                    <div class="col-sm-4">
                        <div id="comboDetailAccountSelect">
                            
                        </div>
                    </div>
                </div>

                <div class="pd-5 mr-t-10 bg-info ng-hide" ng-show="fromContact &amp;&amp; fromContactDetailAccount &amp;&amp; Receive == 'contact'" ng-class="getBgByBalanceState(getTashkhisAfterTrans(fromContact))">
                    <div class="row txt-bold" style="margin-left: 0px; margin-right: 0px;">
                        <div class="col-xs-5 ng-binding">مانده (تراز) :</div>
                        <div class="col-xs-7 text-left ng-binding">
                            {{getBalance(rp.Contact) |digitGroup}} ({{getTashkhis(rp.Contact)}})
                        </div>
                    </div>
                    <div class="row ng-hide" style="margin-left: 0px; margin-right: 0px;" ng-show="total">
                        <div class="col-xs-5">مبلغ این تراکنش:</div>
                        <div class="col-xs-7 text-left ng-binding">({{rp.Amount |digitGroup}})</div>
                    </div>
                    <div class="row ng-hide" style="margin-left: 0px; margin-right: 0px;" ng-show="total">
                        <div class="col-xs-5">مانده پس از این تراکنش:</div>
                        <div class="col-xs-7 text-left ng-binding">
                            {{getBalanceAfterTrans(rp.Contact) |digitGroup}} ( {{getTashkhisAfterTrans(rp.Contact)}} )
                        </div>
                    </div>
                </div>

                <div class="row mr-10 pd-5 ng-hide" style="border: 1px solid silver" ng-show="rp.Invoice">
                    <div class="col-md-3 txt-bold text-info">
                        <a href="#viewInvoice/id=" class="ng-binding">
                            بابت فاکتور شماره
                        </a>
                    </div>
                    <div class="col-md-3 ng-binding">
                        مبلغ فاکتور:
                    </div>
                    <div class="col-md-3 ng-binding">
                        مبلغ دریافت شده:
                    </div>
                    <div class="col-md-3 ng-binding">
                        مبلغ باقیمانده:
                    </div>
                </div>

                <div class="row mr-t-10">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label>شرح</label>
                            <input display-numbers="" type="text" class="form-control input-sm ng-valid" placeholder="شرح دریافت..." ng-model="rp.Description">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>تاریخ</label>
                            <input date-picker="" display-numbers="" type="text" class="form-control input-sm ng-valid" id="transactionDate" ng-model="rp.DisplayDate" style="direction: ltr;"><a class="pcalBtn" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-sm" ng-click="addCashPay(null,null,true)">
                                <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;
                                افزودن دریافت نقدی
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="addBankPay(null,null,true)">
                                <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;
                                افزودن فیش بانکی
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="addChequePay(null,true)">
                                <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;
                                افزودن چک
                            </button>
                        </div>
                    </div>
                </div>
                <div class="separator1 mr-t-10"></div>
                <div class="row ng-scope" ng-repeat="transaction in rp.Items" style="margin-right:15px;margin-left:15px">
                    <div class="row mr-10 hesabfa-paybox" style="background-color: #337AB7; border: 1px solid #337AB7;" ng-show="transaction.Type == 1">
                        <div class="col-sm-1 text-center" style="min-height: 58px; display: table;">
                            <div style="display: table-cell; vertical-align: middle;">وجه نقد</div>
                        </div>
                        <div class="col-sm-11 pd-10" style="padding-top: 15px; background-color: white; color: rgb(34, 34, 34);">
                            <div class="row" style="margin-left: 5px;">
                                <label class="col-sm-1 text-left">مبلغ:</label>
                                <div>
                                    <input display-numbers="" decimal-point-zero="" keyboard-filter="integer" digit-group="" type="text" class="col-sm-3 form-control input-sm ng-valid" ng-model="transaction.Amount" ng-blur="calTotal()">
                                </div>
                                <label class="col-sm-2 text-left">به صندوق:</label>
                                <div class="col-sm-3 p-0">
                                    <div id="cashSelect{{$index}}"></div>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                        <span class="fa fa-remove hesabfa-paybox-remove" aria-hidden="true" data-toggle="tooltip" ng-click="deleteRow($index)" data-placement="top" title="حذف" style="background-color: #337AB7;"></span>
                    </div>
                    <div class="row mr-10 hesabfa-paybox" style="background-color: #9e32bd; border: 1px solid #9e32bd;" ng-show="transaction.Type == 2">
                        <div class="col-sm-1 text-center" style="min-height: 58px; display: table;">
                            <div style="display: table-cell; vertical-align: middle;">فیش بانکی</div>
                        </div>
                        <div class="col-sm-11 pd-10" style="padding-top: 15px; background-color: white; color: rgb(34, 34, 34);">
                            <div class="row" style="margin-left: 5px;">
                                <label class="col-sm-1 text-left">مبلغ:</label>
                                <div>
                                    <input display-numbers="" decimal-point-zero="" keyboard-filter="integer" digit-group="" type="text" class="col-sm-3 form-control input-sm ng-valid" ng-model="transaction.Amount" ng-blur="calTotal()">
                                </div>
                                <label class="col-sm-2 text-left">شماره فیش/ارجاع:</label>
                                <div>
                                    <input display-numbers="" type="text" class="col-sm-2 form-control input-sm ng-valid" ng-model="transaction.Reference" ng-blur="calTotal()">
                                </div>
                                <label class="col-sm-1 text-left">بانک:</label>
                                <div class="col-sm-3 p-0">
                                    <div id="bankSelect{{$index}}"></div>
                                </div>
                            </div>
                        </div>
                        <span class="fa fa-remove hesabfa-paybox-remove" aria-hidden="true" data-toggle="tooltip" ng-click="deleteRow($index)" data-placement="top" title="حذف" style="background-color: #9e32bd;"></span>
                    </div>
                    <div class="row mr-10 hesabfa-paybox" style="background-color: #bd6532; border: 1px solid #bd6532;" ng-show="transaction.Type == 3">
                        <div class="col-sm-1 text-center p-0" style="min-height: 85px; display: table;">
                            <div style="display: table-cell; vertical-align: middle;">
                                چـک
                                <div class="hesabfa-txt-8 ng-binding">(عادی)</div>
                            </div>
                        </div>
                        <div class="col-sm-11 pd-10" style="padding-top: 15px; background-color: white; color: rgb(34, 34, 34);">
                            <div class="row m-b-5" style="margin-left: 5px;">
                                <label class="col-sm-1 text-left">مبلغ:</label>
                                <div>
                                    <input display-numbers="" decimal-point-zero="" keyboard-filter="integer" digit-group="" type="text" class="col-sm-3 form-control input-sm ng-valid" ng-model="transaction.Amount" ng-disabled="transaction.Cheque.Status != 0" ng-blur="calTotal()" disabled="disabled">
                                </div>
                                <label class="col-sm-2 text-left">شماره چک:</label>
                                <div>
                                    <input display-numbers="" type="text" class="col-sm-2 form-control input-sm ng-valid" ng-model="transaction.Cheque.ChequeNumber">
                                </div>
                                <label class="col-sm-2 text-left">تاریخ چک:</label>
                                <div>
                                    <input date-picker="" display-numbers="" type="text" class="col-sm-2 form-control input-sm pdate ng-valid" ng-model="transaction.Cheque.DisplayDate" id="chqDate{{$index}}" style="direction: ltr;"><a class="pcalBtn" href="#"></a>

                                </div>
                            </div>
                            <div class="row" style="margin-left: 5px;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3"></div>
                                <label class="col-sm-2 text-left">بانک:</label>
                                <div>
                                    <input display-numbers="" type="text" class="col-sm-2 form-control input-sm ng-valid" ng-model="transaction.Cheque.BankName">
                                </div>
                                <label class="col-sm-2 text-left">شعبه:</label>
                                <div>
                                    <input display-numbers="" type="text" class="col-sm-2 form-control input-sm ng-valid" ng-model="transaction.Cheque.BankBranch">
                                </div>
                            </div>
                        </div>
                        <span class="fa fa-remove hesabfa-paybox-remove" aria-hidden="true" data-toggle="tooltip" ng-click="deleteRow($index)" data-placement="top" title="حذف" style="background-color: #bd6532;"></span>
                    </div>
                </div>

                


                <!-- ngRepeat: transaction in rp.Items -->

                <div class="row mr-t-5" style="padding-left: 15px;">
                    <div class="col-md-8">
                        <div class="btn-group col-md-4">
                            <button type="submit" ng-click="submit()" onclick="return false;" class="btn btn-success btn-sm" style="width: 80px;" ng-disabled="rp.Items.length == 0" disabled="disabled">
                                ثبت
                            </button>
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="rp.Items.length == 0" disabled="disabled">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="submit(false,true)">ثبت و بعدی</a></li>
                                <li><a href="" ng-click="submit(true)">ثبت و چاپ رسید</a></li>
                            </ul>
                        </div>
                        <button ng-click="printReceiptDialog()" onclick="return false;" class="btn btn-default btn-smoke btn-sm" style="width: 80px;">چاپ رسید</button>
                        <button ng-click="cancel()" onclick="return false;" class="btn btn-default btn-smoke btn-sm" style="width: 80px;">انصراف</button>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-left" style="border-bottom: 1px solid rgb(69, 69, 69)">
                            <div class="col-xs-4 h5 txt-bold">جمع <span style="font-weight: normal" ng-bind="getCurrency(true)" class="ng-binding">(ریال)</span></div>
                            <div class="col-xs-7 h5 txt-bold ng-binding">{{total |digitGroup}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mr-t-5 text-center ng-hide" ng-show="calling">
            <span><img src="../../../Content/img/ajax-loader4.gif"></span>
        </div>


        <div ng-include="'/App/template/printReceiptDialog.html'" class="ng-scope"></div>

        <div id="textHeightMeasurement" style="position: fixed; left: -1000px; top: -1000px;"></div>
    </div>

    <div class="col-xs-12 text-center ng-hide" ng-show="loading">
        <span><img src="../../../Content/img/ajax-loader4.gif"></span>
        <div>بارگیری رسید...</div>
    </div>
</div>